@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

#barra{
    background-color: white;
    display: flex;
    align-items: center;
}
#barra2{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tudo{
    display: flex;
    flex-direction: column;
    background-color: #800000;
    font-size: 2.5vw;
}

#Cri{
    color: #ffffff;
    font-size: 2vw;
    font-size: 4.1vh;
    background-color: #800000;
    border-radius: 0.8vh;
    width: 10vw;
    height: 6vh;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
}

#Eventos{
   font-size: 4vw;
   display: flex;
   align-items: center;
   width: 10vw;
}

.icon{
    width: 5vw;
    height: 12vh;
}

.refresh{
    width: 3.5vw;
    height: 7vh;
}

.bloco{
    width: 3.5vw;
    height: 7vh;
}

.circle{
    width: 3.5vw;
    height: 7vh;
}

#linha{
    background-color: #800000;
    height: 0.5vh;
}

#Add{
    color: #800000;
    font-size: 2vw;
    margin-left: 1.5vw;
    border: none;
}

#img{
    display: flex;
    gap: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}