@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}


.atencao{
    width: 7vw;
    height: 16vh;
}

#h1{
    font-size: 4vw;
    margin-right: 61vw;
}


.caixa_geral{
    size: 20vw;
    background-color: white;
 }

 .textinho{
     color: black;
     display: flex;
     align-items: center;
     
 }
 
 
 .puxadinho{
     display: flex;
     gap: 1vw;
     align-items: center;
 }


 #tudo{
    display: flex;
    flex-direction: column;
    background-color: #800000;
    font-size: 2.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);;
}

#Cri {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 4.1vh;
    background-color: #800000;
    border-radius: 1vh; 
    width: 10vw;
    height: 6vh;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  #Cri:hover {
    background-color: #a00000;
  }

#Eventos{
    font-size: 4vw;
    margin-right: 69vw;
}

.icon{
    width: 5vw;
    height: 12vh;
}

.refresh{
    width: 3.5vw;
    height: 7vh;
}

.bloco{
    width: 3.5vw;
    height: 7vh;
}

.circle{
    width: 3.5vw;
    height: 7vh;
}

#linha{
    background-color: #800000;
    height: 0.5vh;
}

#Add{
    color: #800000;
    font-size: 2vw;
    margin-left: 1.5vw;
}

#img{
    display: flex;
    gap: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vh;
}


#AddInput {
    border: none;
    outline: none;
    font-size: 2vw;
    margin-left: 1.5vw;
    color: #800000;
    background-color: transparent;
    width: 70vw;
  }

  #AddInput::placeholder {
    color: #800000;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
  }
  
  
  #tarefas-lista {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .tarefa-box {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 600px;
    font-size: 18px;
    color: #800000;
  }
 
  #tarefas-lista {
    margin-top: 3vh;
    padding: 1vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
  }
  
  .tarefa-box {
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: #ffffff;
    padding: 1.5vh 22vw;
    font-size: 2vw;
    color: #800000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 90%;
    position: relative;
    top: -30.5vh;
    left: -4.5vh;
  }
  
  .tarefa-box img {
    width: 3.4vw;
    height: 7vh;
  }
  
  .bola{
   position: relative;
   right: 47vh;
}

.tarefa-titulo{
    position: relative;
    right: 45.1vh;
}