.sol{
    width: 5vw;
}
#meu-dia{
    display: flex;
    align-items: center;
    padding: 1vw;
    gap:1.0vw;
    font-size: 4vw;
}
.barra{
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: white;
    border-radius: 2em;
    width: 89vw;
    height: 13vh;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);;
}
#tasks{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.taskOrder{
    display: flex;
    gap: 3vw;
    align-items: center;
    
}

.Data{
    display: flex;
    width: 10vw;
    height: 13vh;
    border-left: 0.2em solid #800000;
    border-right: 0.2em solid #800000;
    align-items: center;
    justify-content: center;
}
.textTask{
    color: black;
    font-size: 1,5vw;
}
.editando{
    position: absolute;
    top: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);;
    background-color: white;
    color: #800000;
    width: 30vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: 2vw;
}

.editando button{
    background-color: #800000;
    color: white;
    width: 10vw;
    height: 5vh;
    border-radius: 1vw;
}
.editando textarea{
    height: 20vh;
}
.editando input{
    height: 5vh;
}

.ImgButton{
    width: 3vw;
    transition: 0.5s;
    cursor: pointer;
}
.ImgButton:hover{
    width: 3.5vw;
    transition: 0.5s;
}
#fundo{
    padding: 4vw;
    display: flex;
    flex-direction: column;
    gap: 15vw;
}

.icons{
    display: flex;
    gap:3vw;
    color: white;
}
.text-botao{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    transition: 0.5s;
}
 .text-botao:hover{
   font-size: 1.7vw;
   transition: 0.5s;
}
.userLogin{
    display: flex;
    align-items: center;
    font-size: 1.5vw;
}



