.sol{
    width: 5vw;
}
#meu-dia{
    display: flex;
    align-items: center;
    padding: 1vw;
    gap:1.0vw
}

.icons{
    display: flex;
    gap:3vw;
    margin-right:25vw ;
    color: white;
}
.text-botao{
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    transition: 0.5s;
}
 .text-botao:hover{
   font-size: 1.7vw;
   transition: 0.5s;
}



