.sol{
    width: 5vw;
}
#meu-dia{
    display: flex;
    align-items: center;
    padding: 1vw;
    gap:1.0vw
}
 .meio{
    display: flex;
    margin-top: 20vh;
    margin-left: 3vw;
    flex-direction: column;
 }
.barrinhaTarefas{
    display: flex;
    align-items: center;
    width: 40vw;
    height: 10vh;
    border-radius: 3em;
    background-color: white;

}
.barrinhaTarefas-Dois{
    display: flex;
    margin-top: 1vh;
    align-items: center;
    width: 40vw;
    height: 10vh;
    border-radius: 3em;
    background-color: white;
}

.imagemzinha{
   margin-left: 2em;
}

.mensagemTarefa{
    display: flex;
    padding: 1vw;
}




