@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.inicio{
    font-size: 2vw;
    margin-left: -1.1vw;
    
}

.sobrenos{
    font-size: 2vw;
    margin-left: -17vw;
}

.contatos{
    font-size: 2vw;
    margin-left: -24vw;
}

.users{
    height: 5vw;
}

.titulo1{
    font-size: 2vw;
    margin-left: -21vw;
    font-weight: normal; 
}

.caixabranca{
    margin-top: 3vw;
    background-color: #FFFFFF;
    height: 25vw;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}

.caixinha{

    background-color:#800000 ;
   border-radius: 7vw;
   height: 4vw;
   display: flex;
   align-items: center;
   justify-content: center;
} 
.textinho1{
    font-size: 2vw;
    color: #FFFFFF;

}   

.textao{
    font-size: 2vw;
    height: min-content;
    width: 89vw;
    margin-top: 2vw;
    margin-left: 2vw;
}
#rotas1{
    display: flex;
    gap: 2vw;
}
#login1{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.people1{
    width: 3vw;
    
}
.link1{
    text-decoration: none;
}
.botao1{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 1.5vw;
    transition: 0.5s;
}
.botao1:hover{
    transition: 0.5s;
    font-size: 1.7vw;
}